@{
    ViewBag.Title = "Sweeter";
    @model IEnumerable<Sweeter.Models.UserPost>

}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}

<div>
    <h3>Last Sweets...</h3>
    @foreach (var post in Model)
    {
        <div>
            <ul>
                <li>@post.Title</li>
                <li>@post.Text</li>
                <li>@post.DateTime</li>
            </ul>
        </div>
    }
</div>
<div>
    <h4>Sweet something...</h4>
    <form>
        <table>
            <tr>
                <td><input type="text" name="SweetTitle" id="SweetTitle" value="Title..."/></td>
            </tr>
            <tr>
                <td><textarea name="SweetContent" id="SweetContent"></textarea></td>
            </tr>
            <tr>
                <td><input type="submit" value="Sweet!" ></td>
            </tr>
        </table>
    </form>
    
</div>
