@{
    ViewBag.Title = "Sweeter";
    @model IEnumerable<Sweeter.Models.UserPost>

}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}

<div>
    <h3>Last Sweets...</h3>
    <br />
    @foreach (var post in Model)
    {
        <div>
            <img height="100" width="100" src="@post.UserPhoto">
            <p>@post.Title</p>
            <p>@post.Text</p>
            <p>@post.DateTime</p>
        </div>
    }
</div>

