@{
    @model IEnumerable<Sweeter.Models.UserPost>
    ViewBag.Title = "IndexSweet";
}

<h2>@User.Identity.Name</h2>
<img src="@Server.MapPath(Url.Content(ViewBag.CurrentPhotoPath))">
<p>"@ViewBag.CurrentLegend"</p>
    <div>
        <h3>Last Sweets...</h3>
    
            @foreach (var post in Model.Take(10))
{  
                <ul>
                    <li>@post.UserName</li>
                    <li>@post.Title</li>
                    <li>@post.Text</li>
                </ul>
                <hr />
            }
      

    </div>
    <div>
        <h4>Sweet something...</h4>
        <form action="SweetPosts" method="post">
            <table>
                <tr>
                    <td><input type="text" name="SweetTitle" id="SweetTitle" value="Title..." /></td>
                </tr>
                <tr>
                    <td><textarea name="SweetContent" id="SweetContent"></textarea></td>
                </tr>
                <tr>
                    <td><input type="submit" value="Sweet!"></td>
                </tr>
            </table>
        </form>

    </div>
