@{
    @model IEnumerable<Sweeter.Models.UserPost>
    ViewBag.Title = "IndexSweet";
}
@if (ViewBag.PendingRequests == 1)
{
    <div class="text-left"></div><b>@Html.ActionLink("You have some friendship requests", "RequestList")</b>
}
<h2>@User.Identity.Name</h2>
<img height="100" width="100" src="@ViewBag.CurrentPhotoPath">
<p>"@ViewBag.CurrentLegend"</p>
    <div class="span3">
        <br />
        <h3>Last Sweets...</h3>
        <br />
            @foreach (var post in Model.Take(10))
{               <img height="100" width="100" src="@post.UserPhoto">                
                <p class="text-success">@post.UserName</p>                    
                <p class="text-info">@post.Title</p>
                <p>@post.Text</p>
                <hr />
            }
      

    </div>
    <div>
        <h4>Sweet something...</h4>
        <form action="SweetPosts" method="post">
            <table>
                <tr>
                    <td><input type="text" name="SweetTitle" id="SweetTitle" value="Title..." /></td>
                </tr>
                <tr>
                    <td><textarea name="SweetContent" id="SweetContent"></textarea></td>
                </tr>
                <tr>
                    <td><input type="submit" value="Sweet!"></td>
                </tr>
            </table>
        </form>

    </div>
